@import 'variables.scss';
@import 'mixins.scss';
@import 'bootstrap.scss';
@import 'typography.scss';
@import 'layout.scss';

.img-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.book-icon {
  background-size: 60px 60px;
}

p {
  text-align: center;
}

button {
  width: 100%;
}

#loading {
  margin-top: 40vh;
}

.error-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.5);

}

.error-msg {
  background: lightgray;
  text-align: center;
  position: fixed;
  top: 40vh;
  width: 100%;
  z-index: 101;
  color: red;
  padding: 20px;
}
